.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.action {
  display: flex;
  justify-content: end;
  gap: 8px;
}
