.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
}

.card--task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.card--task-title {
  font-size: 1.2rem;
}

.card--task-status {
  border: 1px solid #333;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: red;
}

.active {
  background-color: green;
}

.card--task-description {
  font-size: 1rem;
}

.card--task-action {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  gap: 8px;
}

.dialog--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

.dialog--content {
  width: 300px;

  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form--field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form--action {
  display: flex;
  justify-content: end;
  gap: 8px;
}
